body{
	margin:0;
	font-family: sans-serif;
	background-color: #dddddd;
}

*{
	box-sizing: border-box;
}

.container{
	max-width: 1140px;
	background-color: #ffffff;
	height:auto;
	margin:40px auto;
	padding:20px;
}

h1{
	font-size:30px;
	margin:0;
	font-family: "Proxima Nova", "Neue Helvetica", Helvetica;
	color: #333;
}

.nav{
	width: 100%;
	height: 180px;
	background-color:rgb(144, 182, 238);
	background: linear-gradient(to top, #dddddd, rgb(84, 157, 241)); 
	text-align: center;
	margin-bottom:20px;
	border-radius: 0 0 85% 85% / 30%; 
}

.topnav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	margin-bottom: 20px;
}
  
.topnav li {
	float: left;
}
  
.topnav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

ul.topnav li a:hover {
	background-color: #dddddd;
	color: black;
}

.header{
	width: 100%;
	background-color:#dddddd; 
	text-align: center;
	padding: 80px 15px;
	margin-bottom:20px;
	margin-top: 20px;
}

.flights{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.section{
	width: 100%;
	background-color:#dddddd; 
	text-align: center;
	padding:50px 10px;
	margin-bottom:20px;
}

.content{
	width: 100%;
	margin-top:60px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.card{
	width:20%;
	padding:0px 10px;
	background-color:gray;
	font-size:30px;
	color:#fff;
}

.flight-list{
	display: block;
	list-style: none;
}

.inputDiv {
	padding: 10px 5px;
}

.search{
	border: none;
	background-color: transparent;
	border-bottom: 1px solid black;
	outline: none;
	margin-left: 5px;

}
.header form{
	font-weight: bold;
	margin-bottom: 20px;
}

#txtHint{
	display: flex;
	justify-content: center;
}

#txtHint table{
	border-collapse: collapse;
}
td, th {
	border: 1px solid rgb(85, 85, 85);
	padding: 5px;
}
tr:nth-child(even) {
	background-color: rgb(144, 182, 238);
}

@media screen and (max-width: 600px) {
	.topnav li.right, 
	.topnav li {
		float: none;
	}
	.nav{
		height: 300px;
	}
	.content{
		flex-direction: column;
	}
	.card{
		width: 50%;
		margin-bottom: 20px;
	}
}